*{
    font-family: 'Merriweather', serif;}
body {
    background-image: url("../images/gameofthrones30.jpg");
}
header {
    text-align: center;
    padding: 30px;
}
.player {
    margin: 10px;
    float: left;
    height: 150px;
    width: 130px;
    border: solid 5px darkslategray;
    background-color: black;
    color: whitesmoke;
    text-align: center;
}
/* .play-area {
    float: left;
} */
.enemy {
    background-color: darkred;
}
.game-play {
    color: darkslategray;
}
.player-pic {
    height: 80px;
    margin: 10px;
}
/* .play-area {
    height: 140px;
} */
.attackee {
    background-color: forestgreen;
}
#status, #game-info, #enemy-info  {
    color: darkslategray;
    font-size: 20px;
}
#throne-pic {
    height: 200px;
}
.card {
    text-align: center;
    border: darkslategray solid 5px;
    font-size: 18px;
    background-color: whitesmoke;
    color: gray;
}
#attack-button {
    align-items: center;
}